main {
  margin: 0px auto;
  width: calc(100% - 3rem);
  max-width: 600px;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.register__title,
.login__title {
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  margin-top: 3rem;
}

.login-link,
.register-link {
  text-align: center;
  margin-top: 1rem;
  color: blue;
}